body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-books img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
  padding-top: 20px;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.main-nav-container {
  display: flex;
  flex-direction: column;
}

.main {
  margin-left: 200px;
}

#main-images {
  display: flex;
}

#main-images img {
  width: 75rem;
  margin: 5rem auto;
}

#header {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: black;
  color: white;
  text-align: center;
}

#footer {
  display: block;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
}
