body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ******************* */

#sortOptions {
  margin-right: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#sortMenu {
  margin-bottom: 2rem;
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}

#all-books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}

#all-books img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

/* ******************* */

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

.logo-container {
  display: flex;
}

.main-nav-container {
  display: flex;
  flex-direction: column;
}

link {
  color: black;
}

/* a:link a:visited {
  color: black
}

a:active {
  text-decoration: underline;
} */

/* ******************* */

.main {
  margin-left: 200px;
}

#main-images {
  display: flex;
}

#main-images img {
  width: 75rem;
  margin: 5rem auto;
}

/* ******************* */

#header {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: black;
  color: white;
  text-align: center;
}

#footer {
  display: block;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
}

/* ******************* */

.cart {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 20rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cartInfo {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#cartTotal {
  font-size: 20px;
  margin-top: 20rem;
}

.checkoutBtn {
  height: 3rem;
  width: 10rem;
  background-color: black;
  color: white;
  margin: 20rem 200px 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* ******************* */

.cartProduct {
  display: flex;
  justify-content: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cartProductInfo {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.cartProductTitle {
}

.cartProductAuthor {
}

.cartProductPriceQty {
  font-size: 12px;
}

.quantity {
  margin-left: 5px;
}

.changeQtyBtn {
  padding: 2px;
  border: 1px solid black;
  background: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 20px 200px 0 5px;
}

.cartProductImg {
  height: 100px;
  width: 100px;
  justify-content: flex-start;
}

.deleteButton {
  padding: 0;
  border: none;
  background: none;
  margin: 20px 200px 0 auto;
}

/* ******************* */

.checkoutFormContainer {
}

.checkoutHeading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  margin-top: 3rem;
}

.checkoutInput {
  margin: 4px;
  border-radius: 7px;
}

.checkoutInput:hover {
  border: 1px solid lightblue;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.checkoutFormNameInfo {
  display: flex;
}

.checkoutFormCityStateZipInfo {
  display: flex;
}

.checkoutFormBtns {
  display: flex;
}

.thankyou {
  display: flex;
  flex-direction: column;
  margin: 200px 0 0 200px;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* ******************* */

.singleBook {
  margin-top: 10rem;
  margin-left: 20rem;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.singleBookParent {
  display: flex;
}

.singleBookInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
}

.singleBookTitle {
  font-size: 20px;
}

.singleBookAuthor {
  font-size: 20px;
  margin-bottom: 2rem;
}

.singleBookButtons {
  display: flex;
  margin: 2rem 0;
}

/* .addBookToCart {
  margin-left: 1rem;
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: none;
}

.addBookToCart:hover {
  transform: translateY(100%);
  transition: transform 0.15s;
} */

.addBookToCart {
  margin-left: 1rem;
  width: 12rem;
  height: 3rem;
  background-color: black;
  color: white;
  border: none;
  transition: all 0.5s;
}

.addBookToCart:after {
  font-weight: 400;
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.addBookToCart:hover {
  font-weight: 700;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.addBookToCart:hover:after {
  opacity: 1;
  transition: all 0.5s;
}

.singleBookImg {
  width: 60%;
  padding: 1rem;
  margin-left: auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
}
