body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}

#all-books img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
  padding-top: 20px;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.main-nav-container {
  display: flex;
  flex-direction: column;
}

.main {
  margin-left: 200px;
}

#main-images {
  display: flex;
}

#main-images img {
  width: 75rem;
  margin: 5rem auto;
}

#header {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: black;
  color: white;
  text-align: center;
}

#footer {
  display: block;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
}

.singleBook {
  margin-top: 10rem;
  margin-left: 20rem;
}

.Cart {
  margin-top: 10rem;
  margin-left: 20rem;
}

#total {
  font-weight: 700;
  font-size: 20px;
}

/* ******************* */

.cartProduct {
  display: flex;
}

.cartProductInfo {
  display: flex;
}

.cartProductImg {
  height: 100px;
  width: 100px;
  justify-content: flex-start;
}

.deleteButton {
  justify-content: flex-end;
  text-align: center;
  height: 20px;
  width: 20px;
}

/* ******************* */

.singleBookInfo {
  position: absolute;
}

.singleBookImg {
  position: absolute;
}

.signup-form {
  display: flex;
  flex-direction: column;
}
